@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 m-6;
  }
}

@layer utilities {
  .hero-header {
    @apply text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-[158px] font-normal tracking-normal russo;
  }
  .hero-paragraph {
    @apply text-white mt-4 poppins font-normal text-base sm:text-lg md:text-[20px] lg:text-[22px] xl:text-[24px]  tracking-normal text-wrap;
  }

  .button-primary {
    @apply w-[200px] h-[60px] md:w-[250px] md:h-[70px] lg:w-[300px] lg:h-[73px] bg-white text-black text-[16px] md:text-[18px] lg:text-[20px] xl:text-[20px] tracking-normal font-normal text-center rounded-none shadow-lg mt-4 md:mt-12 hover:bg-black hover:text-white hover:border hover:border-white  transition-all duration-300 ease-in-out poppins focus:bg-black focus:text-white focus:ring-2 focus:ring-offset-1 focus:ring-black focus:outline-none;
  }
  .primary-header {
    @apply leading-[100%] text-black text-[30px] sm:text-[32px] md:text-[48px] lg:text-[80px] font-normal tracking-normal russo text-center items-center;
  }
  .primary-paragraph {
    @apply leading-[148%] text-black poppins font-normal text-[16px] md:text-[20px] lg:text-[22px] xl:text-[24px] tracking-normal md:text-wrap text-center items-center mt-4 md:mt-6 mb-12 md:mb-16 lg:mb-20;
  }
  .button-secondary {
    @apply leading-[148%] w-[160px] h-[45px] md:w-[220px] md:h-[58px] lg:h-[60px] bg-white text-black text-[14px] md:text-[16px] lg:text-[18px] tracking-normal font-medium text-center rounded-none shadow-md mt-4 mb-12 transition-all duration-300 ease-in-out hover:bg-black hover:text-white hover:border hover:border-white focus:bg-black focus:text-white focus:ring-2 focus:ring-offset-1 focus:ring-black focus:outline-none poppins;
  }
  .card-title {
    @apply leading-[100%] text-[20px] sm:text-[22px] md:text-[24px] lg:text-[26px] xl:text-[28px] font-normal tracking-normal russo mb-2;
  }
  .card-paragraph {
    @apply leading-[112%] text-white text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] font-normal tracking-normal poppins mb-2;
  }
  .button-accent {
    @apply leading-[148%] w-[160px] h-[45px] md:w-[220px] md:h-[58px] 
      gap-[10px] bg-black text-white text-[14px] md:text-[16px] lg:text-[18px]
      tracking-normal font-medium text-center rounded-none shadow-lg mt-4 mb-12 mx-auto block poppins hover:bg-white hover:text-black hover:border hover:border-black  transition-all duration-300 ease-in-out poppins focus:bg-black focus:text-white focus:ring-2 focus:ring-offset-1 focus:ring-black focus:outline-none;
  }
  .shop-button {
    @apply leading-[148%] w-[100px] h-[35px] md:w-[220px] md:h-[58px] lg:h-[60px] lg:w-[150px] bg-white text-black text-[14px] md:text-[16px] lg:text-[18px] tracking-normal font-medium text-center rounded-none shadow-md mt-4 mb-12 transition-all duration-300 ease-in-out hover:bg-black hover:text-white hover:border hover:border-white focus:bg-black focus:text-white focus:ring-2 focus:ring-offset-1 focus:ring-black focus:outline-none poppins;
  }
}

.rubik {
  font-family: 'Rubik', sans-serif;
}
.russo {
  font-family: 'Russo One', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}

.archivo {
  font-family: 'Archivo', sans-serif;
}

.cart-container {
  min-height: 100vh; /* Ensures the container takes at least full viewport height */
  display: flex;
  flex-direction: column;
}
.nav {
  
  top: 0;
  z-index: 50;
}