@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 m-6;
  }
}

@layer utilities {
  .hero-header {
    @apply text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-normal tracking-normal russo;
  }
  .hero-paragraph {
    @apply text-white mt-4 poppins font-normal text-sm sm:text-base md:text-lg tracking-normal text-wrap;
  }

  .button-primary {
    @apply w-[220px] h-[60px] gap-[10px] bg-white text-black text-center rounded-none shadow-md mt-12;
  }
}

.rubik {
  font-family: 'Rubik', sans-serif;
}
.russo {
  font-family: 'Russo One', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}

